include ./mixin/smartgrid.pug
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Exsample lavrik
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")
    link(rel="stylesheet", href="./css/style.css")
  body
    //+debug24
    header
      article.container
        menu
          section.logo
            div.logoImg
            h2 Motion
            p Asingle Page Template
          ul
            li Home
            li About
            li Team
            li Portfolio
            li Other
            li Contact
    article.smart
      article.container
        h2.profitTitle Smart & Creative
        p.profitSubtitle This is why you will use it :)
        section.profitItems
          div.profitItem
            div.img.purpose
            h3 Multi purpose
            p Lorem ipsum dolor sit amet, consectetur adipisicing..
          div.profitItem
            div.img.ui
            h3 Flat UI
            p Lorem ipsum dolor sit amet, consectetur adipisicing..
          div.profitItem
            div.img.design
            h3 Creative Design
            p Lorem ipsum dolor sit amet, consectetur adipisicing..
    article.expert
      article.container
        h2.expertTitle Talented & Experts
        p.expertSubtitle This is our team :)
        section.expertItems
          div.expertItem
            div.img.ui
            h3 Mahmoud Baghagho
            p Senior UI Designer
            button
              i.fab.fa-twitter Follow
          div.expertItem
            div.img.app
            h3 Abd ElRahman
            p Senior App Developer
            button
              i.fab.fa-twitter Follow
          div.expertItem
            div.img.graphic
            h3 Mostafa Amin
            p Senior Graphic Designer
            button
              i.fab.fa-twitter Follow
          div.expertItem
            div.img.web
            h3 Ahmed Ali
            p Senior Web Developer
            button
              i.fab.fa-twitter Follow
    article.elegant
      article.container
        h2.elegantTitle Elegant & Genuine
        p.eleganttSubtitle This is how our works looks like :)
        section.elegantItems
          div.elegantItem
            div.img.sms
            h3 SMS Clouds
          div.elegantItem
            div.img.apple
            h3 Blue Apple Soft
          div.elegantItem
            div.img.app
            h3 Together Application
          div.elegantItem
            div.img.barca
            h3 FCBarcelona Club
    article.price
      article.container
        section.priceItems
          ul.priceItem
            li
              h3.hed Start Up
              p.for For beginners
            li
              p.list Basic pages
            li
              p.list MySQL Databases
            li
              p.list Bandwith
            li
              p.list Storage space
            li.bgc
              span.costMon.up $
              span.cost 15
              span.costMon /mon
              button Order
          ul.priceItem
            li
              h3.hed.hedinv Standard
              p.for.forinv More than what you have dreamed with
            li
              p.list Standard pages
            li
              p.list MySQL Databases
            li
              p.list Bandwith
            li
              p.list Storage space
            li.bgcinv
              span.costMon.up $
              span.cost 25
              span.costMon /mon
              button.invBtn Order
          ul.priceItem
            li
              h3.hed Professional
              p.for For smart people
            li
              p.list Basic pages
            li
              p.list MySQL Databases
            li
              p.list Bandwith
            li
              p.list Storage space
            li.bgc
              span.costMon.up $
              span.cost 35
              span.costMon /mon
              button Order
        h2.priceTitle And more available plans for all needs .... Check here
    footer
      article.container
        h2 Latest Tweets
        p.subtitle This is how to keep in touch :)
        i.fab.fa-twitter
        p.text @ Abd-Alrahaman Elgazzar Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..
