mixin debug12
  div.debug
    div
      div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div

mixin debug24
  div.debug
    div
      div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
